/*Estilo para tablets*/
@media only screen and (min-width: 788px) and (max-width: 979px) {
  /* Início Estilos Gerais */
  .separador::after {
    width: 70%;
  }
  /* fim Estilos Gerais */
  /* Produtos */
  .produtos .produtos_lista li img {
    width: 100%;
  }
  /* fim Produtos */
  /* Início Sobre */
  .sobre-conteudo img {
    width: 100%;
  }
  /* fim Sobre */
}

/* Estilo para smartphones */
@media only screen and (max-width: 787px) {
  /* Estilos gerais */
  body {
    overflow-x: hidden;
  }
  .titulo {
    font-size: 1.2em;
  }
  .subtitulo-blue {
    font-size: 1.18em;
  }
  .subtitulo-blue::after {
    width: 60px;
    height: 2px;
    margin: 10px auto 10px;
  }
  .btn {
    border: 2px solid #fff;
    font-size: 1em;
  }
  .btn-call {
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 500;
    border: 2px solid #2962ff;
  }
  .btn-call:hover {
    border-bottom: 2px solid #5381ff;
  }
  .separador::after {
    width: 70%;
  }
  /* Estilos gerais */
  /* Nav */
  .bg-header .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #2962ff;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .bg-header .nav-list.active {
    transform: translateX(0);
  }
  .bg-header .nav-list li {
    margin: 40px 0 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
  .mobile-menu div {
    transition: 0.3s;
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .mobile-menu.active .line2 {
    opacity: 0;
  }

  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  /* fim nav */
  /* Produtos */
  .produtos .produtos_lista h3 {
    font-size: 1.1rem;
  }
  .produtos .produtos_lista img {
    width: 100%;
  }
  .produtos p {
    font-size: 1.1em;
  }
  /* Fim produtos */
  /* Sobre */
  .sobre .subtitulo-blue {
    margin-bottom: 30px;
  }
  .sobre-conteudo img {
    margin-top: 20px;
    width: 100%;
  }
  .sobre .subtitulo {
    font-size: 1.3em;
    margin: 10px;
  }
  .sobre .btn-sobre p {
    font-size: 1.1em;
  }
  /* Fim sobre */
  /* Procução */
  .producao .mensagem h3 {
    font-size: 1.2em;
  }
  .producao .mensagem p {
    text-align: center;
    width: 100%;
  }
  .producao h4,
  .producao h5 {
    text-align: center;
  }
  .producao .quote blockquote p {
    max-width: 100%;
  }
  .btn-producao {
    margin: 0;
  }
  /* Fim produção */
  /* Contato */
  .ctt {
    margin-top: 40px;
    text-align: center;
  }
  .contato_form {
    padding-right: 0;
  }
  /* Fim contato */
  /* Footer */
  footer ul .footer {
    display: inline-block;
    margin-right: 10px;
  }
  footer ul li a {
    display: block;
  }
  footer ul li a img {
    width: 32px;
    height: 32px;
  }
  /* Fim footer */
}
