.sobre {
  margin-top: 30px;
}
.sobre .btn-sobre::before {
  content: "";
  background: #c69e53;
  width: 100px;
  height: 3px;
  display: block;
  margin: 0 auto 20px;
}

/* JavaScript */

.js [data-slide] {
  position: relative;
}

.js [data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}

.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
}

.js [data-slide-nav] {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.js [data-slide-nav] button {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 4px;
  border: none;
  padding: 0px;
  border-radius: 6px;
  text-indent: -99px;
  overflow: hidden;
  background: #1d1d1d;
}

.js [data-slide-nav] button.active {
  background: #fec63e;
}

.js [data-anime] {
  opacity: 0;
}

.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}

.js .anime {
  opacity: 1;
  transform: none;
  transition: opacity 800ms, transform 800ms;
}
