/* Estilos gerais */

.btn {
  border: 3px solid #fff;
  color: #fff;
  padding: 5px 20px;
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}
.btn:hover {
  color: #fff;
  border-spacing: 10px;
  background: #5381ff;
}
.btn-call {
  color: #2962ff;
  padding: 5px 20px;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  border: 3px solid #2962ff;
}
.btn-call:hover {
  border: none;
  border-bottom: 3px solid #5381ff;
}
.titulo {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.8em;
  color: #fff;
  font-weight: 500;
  text-align: center;
}
.titulo::after {
  content: "";
  display: block;
  background: #5381ff;
  width: 100px;
  height: 3px;
  margin: 20px auto 20px;
}
.subtitulo-blue {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.4em;
  color: #2962ff;
  font-weight: 500;
  text-align: center;
}
.subtitulo-blue::after {
  content: "";
  display: block;
  background: #2962ff;
  width: 100px;
  height: 3px;
  margin: 20px auto 20px;
}
.subtitulo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  color: #2962ff;
  font-weight: 500;
  text-align: center;
}
.separador::after {
  content: "";
  display: block;
  background: #c69e53;
  width: 100%;
  height: 3px;
  margin: 50px auto 0;
}
/* Fim estilos gerais */

/* Início Header */
.bg-header {
  background-color: #1c44b2;
  width: 100%;
  height: 70px;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  padding: 10px;
}
.bg-header a span {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
  color: #fff;
}
.bg-header nav ul {
  display: block;
  padding: 17px 0;
}
.bg-header nav ul li {
  float: right;
  text-align: right;
  margin-left: 20px;
}
.bg-header nav ul li a {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
  padding-bottom: 5px;
}
.bg-header nav ul li a:hover {
  border-bottom: 2px solid #fff;
}
/* fim Header*/
/* Início intro */
.bg-introducao {
  background-color: #2962ff;
}
.bg-introducao .introducao {
  text-align: center;
  padding: 40px;
}
.bg-introducao .introducao .quote-intro {
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
}
.bg-introducao .introducao .quote-intro::after {
  content: "";
  display: block;
  background: #5381ff;
  width: 100px;
  height: 3px;
  margin: 20px auto 0;
}
/* fim Intro */
/* Início produtos */
.produtos {
  text-align: center;
}
.produtos .produtos_lista h3 {
  background: #2962ff;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
  padding: 10px 0;
  margin-bottom: 40px;
}
.produtos p {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #000;
  margin-bottom: 30px;
}
.produtos .subtitulo-blue {
  margin: 30px 0 60px;
}
/* fim produtos */
/* Início Sobre */
.sobre h2 {
  margin-top: 40px;
}
.sobre h3 {
  margin-top: 20px;
  margin-bottom: 40px;
}
.sobre p:nth-child(2) {
  margin-top: 20px;
}
.sobre div ul li {
  margin-top: 20px;
  margin-bottom: 50px;
}
.sobre div ul li:first-child {
  margin-top: 0;
}
.btn-sobre {
  margin: 0 auto;
  text-align: center;
}
.btn-sobre p {
  margin-bottom: 30px;
}
/* fim Sobre */
/* Início contato */

/* fim contato */
