/* Estilos gerais */

.btn {
  border: 3px solid #fff;
  color: #fff;
  padding: 5px 20px;
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}
.btn:hover {
  color: #fff;
  border-spacing: 10px;
  background: #5381ff;
}
.btn-call {
  color: #2962ff;
  padding: 5px 20px;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  border: 3px solid #2962ff;
}
.btn-call:hover {
  border: none;
  border-bottom: 3px solid #5381ff;
}
.titulo {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.8em;
  color: #fff;
  font-weight: 500;
  text-align: center;
}
.titulo::after {
  content: "";
  display: block;
  background: #5381ff;
  width: 100px;
  height: 3px;
  margin: 20px auto 20px;
}
.subtitulo-blue {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.4em;
  color: #2962ff;
  font-weight: 500;
  text-align: center;
}
.subtitulo-blue::after {
  content: "";
  display: block;
  background: #2962ff;
  width: 100px;
  height: 3px;
  margin: 20px auto 20px;
}
.subtitulo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  color: #2962ff;
  font-weight: 500;
  text-align: center;
}
.separador::after {
  content: "";
  display: block;
  background: #c69e53;
  width: 100%;
  height: 3px;
  margin: 50px auto 0;
}
.ative {
  border-bottom: 2px solid #fff;
}
/* Fim estilos gerais */

/* Início Header */
.bg-header {
  position: sticky;
  background-color: #1c44b2;
  width: 100%;
  height: 70px;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  padding: 10px;
  z-index: 10;
}

.bg-header a span {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
  color: #fff;
  margin-top: 15px;
}
.bg-header nav ul {
  display: block;
  padding: 17px 0;
}
.bg-header nav ul li {
  float: right;
  text-align: right;
  margin-left: 20px;
}
.bg-header nav ul li a {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
  padding-bottom: 5px;
}
.bg-header nav ul li a:hover {
  border-bottom: 2px solid #fff;
}
/* .bg-header nav ul ul {
  position: absolute;
  display: none;
  min-width: 200px;
}
.bg-header nav ul ul li a {
  display: block;
}
.bg-header nav ul li:hover ul {
  display: block;
  background: #c69e53;
} */

/* fim Header*/

/* Início intro */
.bg-introducao {
  background-color: #2962ff;
}
.bg-introducao .introducao {
  text-align: center;
  padding: 40px;
}
.bg-introducao .introducao .quote-intro {
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
}
.bg-introducao .introducao .quote-intro::after {
  content: "";
  display: block;
  background: #5381ff;
  width: 100px;
  height: 3px;
  margin: 20px auto 0;
}
/* fim Intro */

/* Início produtos */
.produtos {
  text-align: center;
}
.produtos .produtos_lista h3 {
  background: #2962ff;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
  padding: 10px 0;
  margin-bottom: 40px;
}
.produtos p {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #000;
  margin-bottom: 30px;
  font-size: 1.2em;
}
.produtos .subtitulo-blue {
  margin: 30px 0 60px;
}
/* fim produtos */

/* Início Sobre */
.sobre h2 {
  margin-top: 40px;
}
.sobre h3 {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 1.4rem;
}
.sobre p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
}
.sobre p:nth-child(2) {
  margin-top: 20px;
}
.sobre div ul li {
  margin-top: 20px;
  margin-bottom: 50px;
}
.sobre div ul li:first-child {
  margin-top: 0;
}
.btn-sobre {
  margin: 0 auto;
  text-align: center;
}
.btn-sobre p {
  margin-bottom: 30px;
}
/* fim Sobre */

/* Início produção */
.producao h2 {
  margin-top: 30px;
}
.producao img {
  max-width: 100%;
  margin: 0 auto;
}
.producao .mensagem {
  margin-top: 40px;
}
.producao .mensagem h4 {
  margin-top: 60px;
}
.producao .mensagem p {
  width: 500px;
  text-align: center;
  margin: 30px auto 0;
}
.producao .mensagem img {
  display: block;
  margin: 30px auto;
}
.producao div h3 {
  text-align: center;
  font-size: 1.3em;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.3em;
  margin-top: 10px;
}
.producao div h3::after {
  content: "";
  display: block;
  background: #c69e53;
  width: 100px;
  height: 3px;
  margin: 50px auto;
}
.producao div h4 {
  font-size: 1.4em;
  font-family: Arial, Helvetica, sans-serif;
  color: #2962ff;
  font-weight: 525;
  margin-top: 40px;
}
.producao div p {
  font-size: 1.1em;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.6em;
}
.producao .mensagem p::after {
  content: "";
  display: block;
  background: #c69e53;
  width: 100px;
  height: 3px;
  margin: 50px auto;
}
.producao .clientes {
  margin-top: 40px;
}
.producao .clientes h5 {
  font-size: 1.4em;
  font-family: Arial, Helvetica, sans-serif;
  color: #2962ff;
  font-weight: 525;
}
.producao .quote blockquote p {
  text-align: center;
  margin-top: 0;
  max-width: 90%;
}
.producao .quote blockquote cite {
  font-size: 1.1em;
  font-weight: 525;
  display: block;
  text-align: right;
  color: #2962ff;
  margin-top: 20px;
}
/* Fim produção */

/* Início contato */
.ctt {
  margin-top: 30px;
}
.ctt h2 {
  margin-bottom: 40px;
}

.contato {
  padding: 0;
}
.contato_form {
  margin-top: 0px;
  padding-right: 60px;
}
.contato_form label {
  display: block;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}
.contato_form input {
  display: block;
  width: 100%;
  border: 4px solid #2962ff;
  background: none;
  padding: 7px 10px;
  margin-bottom: 10px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", serif;
}
.contato_form textarea {
  display: block;
  width: 100%;
  height: 120px;
  border: 4px solid #2962ff;
  background: none;
  padding: 7px 10px;
  margin-bottom: 20px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", serif;
}
.contato_form .btn-contato {
  padding: 7px 40px;
  background: none;
  border: 4px solid #2962ff;
  color: #2962ff;
}
.contato_form .btn-contato:hover {
  background-color: #5381ff;
}
.contato_dados h3 {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #2962ff;
  font-weight: bold;
}
.contato_dados span {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-family: Georgia, "Times New Roman", serif;
}
.contato_dados span:nth-of-type(even) {
  margin-bottom: 30px;
}
.contato_dados ul {
  margin-top: 10px;
}
.contato_dados ul li {
  display: inline-block;
  margin-right: 10px;
}
.contato_dados ul li a {
  border: 3px solid #2962ff;
  display: block;
  padding: 10px;
}
.contato_dados ul li a:hover {
  border-color: #000;
}
/* fim contato */

/* Footer */
.bg-footer {
  background-color: #000;
  padding: 20px;
  margin-top: 30px;
}
footer .subtitulo-footer {
  color: #2962ff;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
footer .subtitulo-footer::after {
  content: "";
  display: block;
  background: #2962ff;
  width: 40px;
  height: 4px;
  margin-top: 5px;
}
footer p {
  color: #fff;
  margin-top: 10px;
}
footer ul li {
  margin-top: 10px;
}
footer ul li a {
  display: inline-block;
  border: solid 3px #2962ff;
  padding: 10px;
}
footer ul li a:hover {
  border-color: #fff;
}
footer ul li a img {
  width: 32px;
}

/* fim footer */
